node_modules/
*.log
**/tmp
**/temp
**/build
**/dist
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config/config.yml
/dist/
plugins/*/
plugins/*.*
!plugins/help/
!plugins/help/*
!plugins/about/
!plugins/about/*

**/config.json
config/bots/*.yml
config/bots/*.yaml
.idea/
data/*.*
data/jwt/*.*
**/cert
/logs
docs

